{% extends "layout.html" %}

{% block title %}Overview - Void Nodes Server Panel{% endblock %}

{% block content %}
<h1>Server Overview</h1>

<p class="lead">Welcome to the Void Nodes Server Panel!</p>
<p>Use the navigation above to view detailed information about your server or access the web console.</p>


<!-- System Overview Card (Simplified) -->
<div class="card">
    <div class="card-header">
        System Information
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span>OS:</span> {{ system_overview.os.name }} {{ system_overview.os.release }} ({{ system_overview.os.architecture }})</li>
        {% if system_overview.os.version %}
        <li class="list-group-item"><span>OS Version:</span> {{ system_overview.os.version }}</li>
        {% endif %}
        <li class="list-group-item"><span>Hostname:</span> {{ system_overview.os.node_name }}</li>
        <li class="list-group-item"><span>Uptime:</span> {{ system_overview.os.uptime }}</li>
    </ul>
</div>

{% endblock %}
