{% extends "layout.html" %}

{% block title %}Network - Void Nodes Server Panel{% endblock %}

{% block content %}
<h1>Network Information</h1>

<!-- Network Card -->
<div class="card">
    <div class="card-header">
        Network Details
    </div>
     <ul class="list-group list-group-flush">
         <li class="list-group-item"><span>Overall Traffic Since Boot:</span>
             Sent: {{ network_data.overall_traffic.bytes_sent_gb }} GB, Received: {{ network_data.overall_traffic.bytes_recv_gb }} GB
         </li>
         {% for interface in network_data.interfaces %}
             <li class="list-group-item list-group-item-secondary py-1">
                 <span>Interface: {{ interface.name }}</span><br>
                 {% for addr in interface.addresses %}
                        {{ addr.family }}: {{ addr.address }}
                     {% if addr.netmask %}/{{ addr.netmask }}{% endif %}
                     {% if addr.broadcast %} (Broadcast: {{ addr.broadcast }}){% endif %}
                     <br>
                 {% endfor %}
             </li>
         {% endfor %}
     </ul>
</div>
{% endblock %}
